@import url('https://fonts.googleapis.com/css2?family=Kurale&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('/css/new.css');
:root{
    --purple-dark:#52057B;
    --purple-light:#BC6FF1;
    --blue:#293A80;
    --red:rgb(212, 60, 0, 0.9);
    --lightred:#f9433dcc;
    --lightgreen:#8ee4af;
    --darkblue:#4056a1;
    --greyishwhite:#edf5e1;
    --lightyellow:#c5cbe3;
}
::-webkit-scrollbar{
    display: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kurale', serif;
    font-family: 'Raleway', sans-serif;
    background: var(--lightyellow);
    font-size: 20px;
    font-weight: 600;
}

.container{
    width: 90%;
    margin: auto;
    margin: 3rem auto;
    background: var(--darkblue);
    padding: 1rem;
    border-radius: 4px;
}

.title{
    margin-bottom:5px;
    height: 70px;
    display: flex;
    padding-left: 1rem;
    justify-content: flex-start;
    align-items: center;
    line-height: 63px;
}
.title a{
    height: 45px;
    align-items: center;
    display: flex;
    align-items: center;
}
.title h2{
    font-size: 1.7rem;
    font-weight: bold;
    letter-spacing: 2px;
    margin-left: 20px;
}
.details{
    padding: 10px 5px;
}

table {
    font-family: arial, sans-serif;
    table-layout: fixed;
    border-collapse: collapse;
    border-radius: 4px;
    width: 100%;
}
.table-header{
    font-size: 28px;
    letter-spacing: 1px;    
    color: var(--blue);
}
 
td, th {
    text-align: left;
    padding: 8px;
    word-wrap: break-word;
}

.btn{
    text-decoration: none;
    padding: 0.5rem 1rem;
    background: var(--darkblue);
    cursor: pointer;
    color: white;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 1px;
    border: none;
    outline: none;
    border-radius: 4px;
    font-family: 'Raleway', sans-serif;
}
.btn1{
    margin-right: 0.5rem;
}
.btn2{
    margin-left: 0.5rem;
    background-color: var(--red);
}
