
.new-form{
    width:500px;
    height: 400px;
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    border: 10px solid var(--darkblue);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.grid-row{
    display: grid;
    grid-template-columns: 30% 60%;
    justify-content: space-between;
    margin: 1rem;
}

.label-header{
    font-size: 25px;
}
.label-input{
    outline: none;
    border: none;
    border-bottom: 5px solid var(--darkblue);
    height: 30px;
    padding: 0.2rem;
}

.btn-row{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}